<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body{background: #f2f3f5;}
        thead tr th{
            background: #036;
            color:white;
        }
    </style>
</head>
<body>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            {{title}}
            <nav>
                <a mat-raised-button color="primary" routerLink="/admin/dashboard">Panel</a>
                <a mat-raised-button color="primary" routerLink="/admin/libro">Libro</a>
                <a mat-raised-button color="primary" routerLink="/admin/autor">Autor</a>
                <a mat-raised-button color="primary" routerLink="/admin/editor">Editor</a>
            </nav>
            <button *ngIf="isLogin" mat-raised-button color="primary" (click)="salir()">
                Salir
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
</body>
</html>


